{% block html_head_container %}

	{% include 'html-header.twig' %}
	{% block head %}{% endblock %}
</head>{% endblock %}<body class="{{ body_class }}" data-template="base.twig">
<a class="skip-link screen-reader-text" href="#content">{{ _e( 'Skip to content') }}</a>
<header class="header">
	{% block header %}
		{% include "header.twig" with {'items': menu.get_items} %}
	{% endblock %}
</header>

<main id="content" role="main" class="content-wrapper {{ content_class }}">
	{% block content %}
		Sorry, no content
	{% endblock %}
</main>

{% block footer %}
	<footer id="footer" class="footer">
		{% include 'footer.twig' %}
	</footer>
	<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
	{{ function('wp_footer') }}
{% endblock %}</body></html>
